.conteiner{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: lightseagreen;
    flex-wrap: wrap-reverse;
}


.caixa{
    width: 100px;
    height: 100px;
    background-color: darkgray;
    color: black;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}


.conteiner-2{
    display: flex;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    background-color: blueviolet;
    color: darkred;
}

.caixa_vermelha{
    display: flex;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    background-color: crimson;
    color: black;
    border: 1px solid black;
}